.contact-page {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #446dab;

  .contact-card {
    font-weight: 600;
    text-align: center;
    color: #222222;
    background-color: #fafafa;
    border-radius: 10px;
    -webkit-box-shadow: -1px -1px 62px -20px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -1px -1px 62px -20px rgba(0, 0, 0, 0.69);
    box-shadow: -1px -1px 62px -20px rgba(0, 0, 0, 0.69);
  }

  .contact-info {
    margin-top: 1rem;
    padding: 1rem;

    .contact-mail-tel {
      text-align: center;
      margin-top: 2rem;
    }

    .contact-icons {
      font-size: 2rem;
      padding: 2rem;
    }
  }
}

/* Responsive */

@media only screen and (max-width: 650px) {
  .contact-page {
    flex-wrap: wrap;
  }

  .contact-map {
    width: 20000000px;
  }
}

@media only screen and (max-width: 300px) {
  .contact-info {
    padding: 0;
  }
  .contact-page {
    padding: 0;
  }
  .contact-card {
    max-width: 90%;
  }

  .contact-mail-tel {
    text-align: center;
  }
}
